@import "var";

.common-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 16px 16px 80px 16px;
}
.yui-page-side {
    z-index: 1000000;
    background-color: #fff;
}

.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
}
.page-van {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.12);
}
.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.page-body {
    //position: absolute;
    //top: 64px;
    //left: 0;
    //bottom: 0;
    padding-top: 64px;
    width: 100%;
    overflow: auto;
}
.page-simple {
    .page-body {
        padding-top: 0px;
    }
    .page-simple-bg {
        position: relative;
        width: 100%;
        height: 360px;
        background-color: #2196f3;
    }
    .page-simple-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-simple-box {
        position: relative;
        /*margin: 100px auto;*/
        width: 320px;
        padding: 16px;
        margin-top: 40px;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .117647), 0 1px 4px rgba(0, 0, 0, .117647);
    }
}

/**/
.ui-float-btn {
    position: fixed;
    right: 32px;
    bottom: 16px;
}
.ui-dialog {
    width: 400px;
}
.login-btn {
    width: 100%;
}
.ui-page-wrap {
    margin: 100px auto;
    width: 100%;
    max-width: 500px;
    padding: 16px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .117647), 0 1px 4px rgba(0, 0, 0, .117647);
}
@media screen and (max-width: 600px) {
    .ui-page-wrap {
        box-shadow: none;
    }
}
/**/
.icon {
    font-size: inherit;
}