html,
body,
#app {
    height: 100%;
}
.page {
    height: 100%;
}
.page-header {
    margin-bottom: 8px;
}
.page-body {

}
.page-footer {

}
.page-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.page-add {
    position: fixed;
    right: 24px;
    bottom: 128px;
}

/**/
.page-more {
    background-color: #edeff0;
    .setting-list {
        background-color: #fff;
    }
}
/**/
.index-type-list {
    display: flex;
    flex-wrap: wrap;
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        width: 25%;
        margin-bottom: 50px;
    }
    .img {
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
    }
}