@import "var";

.page-user-chat {
}

/**/
.send-box {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    background-color: #f00;
    width: 100%;
    overflow: hidden;
    .header {
        display: flex;
        align-items: center;
        height: 57px;
        padding: 0 0.3rem;
        background-color: #f8f8f8;
        //input {
        //    flex-grow: 1;
        //    width: 4.72rem;
        //    height: 0.76rem;
        //    padding-left: 0.2rem;
        //    background-color: #fff;
        //    border-radius: 4px;
        //    outline: none;
        //    border: none;
        //}
        .button {
            color: $primary;
        }
    }
}
/**/
.page-user-chat {
    background-color: $bg;
    .no-message {
        color: $color_9;
        text-align: center;
        line-height: 30px;
    }
}
.chat-msg-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    //height: 400px;
    overflow: auto;
    .time-tag {
        text-align: center;
        .text {
            padding: 8px;
            display: inline-block;
        }
    }
    .item {
        padding: 16px;
        //margin-bottom: 16px;
        @include clearfix;
    }
    .avatar {
        float: left;
        margin-right: 16px;
    }
    .content {
        float: left;
        max-width: 400px;
        padding: 12px 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .content-text {
        background-color: #fff;
    }
    .content-link {
        position: relative;
        width: 270px;
        height: 96px;
        background-color: #fff;
        .title {
            margin-bottom: 8px;
            line-height: 1;
            font-size: 16px;
        }
        .text {
            color: $color_9;
        }
        .thumbnail {
            position: absolute;
            bottom: 16px;
            right: 16px;
            width: 46px;
            height: 46px;
            border: 1px solid $divider;
        }
    }
    .content-img {
        padding: 0;
        background-color: transparent !important;
        img {
            max-width: 100px;
            border-radius: 4px;
            line-height: 1;
        }
    }
    .content-unknown {
        background-color: transparent;
    }
    .content-location {
        width: 240px;
        padding: 0;
        .address {
            padding: 8px;
        }
        .img {
            width: 100%;
            height: 95px;
        }
    }
    .content-video {
        position: relative;
        width: 100px;
        padding: 0;
        .thumbnail {
            width: 100%;
            height: 100px;
        }
        .mu-icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 56px;
            height: 56px;
            margin-left: -28px;
            margin-top: -28px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }
    .content-red-packet {
        display: flex;
        width: 225px;
        height: 67px;
        padding: 16px;
        color: #fff;
        background-color: #fb9d3b;
        .red-packet {
            width: 30px;
            height: 36px;
            margin-right: 10px;
        }
        .info {

        }
        .text {
            font-size: 16px;
            //margin-bottom: 2px;
        }
        .view {

        }
    }
    .content-audio {
        .sound {
            width: 16px;
            height: px2rem(16);
        }
        .text {

        }
    }
    .item-me {
        .avatar {
            float: right;
            margin-left: 16px;
        }
        .content {
            float: right;
            color: #fff;
            border: 1px solid #ccc;
            background-color: $primary;
        }
    }
}
// .tool-list {
//     display: flex;
//     height: 200px;
//     background-color: #fff;
//     .item {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         align-items: center;
//         width: 33.3%;
//         height: 72px;
//         flex-shrink: 0;
//     }
//     .content {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         width: 64px;
//         height: 64px;
//         border: 1px solid $divider;
//         border-radius: $radius;
//     }
//     .text {
//         color: $color_9;
//     }
// }