@import "var";

.page-user-detail {
    .page-header {
        position: relative;
        height: 252px;
        background-size: 100% 100%;
        .app-bar {
            background-color: transparent;
            box-shadow: none;
            background-image: linear-gradient(180deg, rgba(51, 51, 51, .4) 0, rgba(51, 51, 51, 0));
        }
        .avatar {
            position: absolute;
            bottom: 16px;
            right: 16px;
        }
    }
    .page-body {
        top: 252px;
    }
    .photo-list {
        display: flex;
        margin-top: 16px;
        .item {
            flex-shrink: 0;
            width: 80px;
            height: 80px;
            margin-right: 16px;
            border: 1px solid $divider;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .send-button {
        width: 100%;
    }
}
